# Core Dependencies
Django>=5.0,<6.0
dj_database_url>=2.0,<3.0
python-dotenv>=1.0,<2.0
djangorestframework>=3.14,<3.15 # For RESTful APIs

# Database Driver
PyMySQL>=1.1,<1.2

# WSGI Server for Production
gunicorn>=21.0,<22.0

# Google gemini API
google-auth==2.40.3
google-genai==1.26.0

# Line Messaging API
line-bot-sdk==3.17.1

# Development Dependencies
django-debug-toolbar>=4.0,<5.0
django-extensions>=3.1,<3.2
ipython>=7.0,<8.0